In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

,Name,Age,Gender,Salary,Favorite Genre,Play Frequency,Preferred Platform
0,Maud Sporer,22,female,60000,Action/Adventure,1-2 times a week,Mobile Devices
1,Rene Rippin,45,male,40000,Sports/Simulation,Daily,PlayStation
2,Llewellyn Hammes,19,male,30000,Sports/Simulation,Never,Nintendo Switch
3,Emmy Runolfsdottir,48,female,40000,Strategy,Occasionally,PlayStation
4,Tillman Larkin,73,male,40000,Role-Playing Games (RPGs),3-6 times a week,PlayStation

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                1000 non-null   object
 1   Age                 1000 non-null   int64
 2   Gender              1000 non-null   object
 3   Salary              1000 non-null   int64
 4   Favorite Genre      1000 non-null   object
 5   Play Frequency      1000 non-null   object
 6   Preferred Platform  1000 non-null   object
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [7]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [8]:
df

,name,age,gender,salary,favorite_genre,play_frequency,preferred_platform
0,Maud Sporer,22,female,60000,Action/Adventure,1-2 times a week,Mobile Devices
1,Rene Rippin,45,male,40000,Sports/Simulation,Daily,PlayStation
2,Llewellyn Hammes,19,male,30000,Sports/Simulation,Never,Nintendo Switch
3,Emmy Runolfsdottir,48,female,40000,Strategy,Occasionally,PlayStation
4,Tillman Larkin,73,male,40000,Role-Playing Games (RPGs),3-6 times a week,PlayStation
...,...,...,...,...,...,...,...
995,Raoul O'Connell,24,male,30000,Sports/Simulation,3-6 times a week,Mobile Devices
996,Stewart Sipes,55,male,50000,Action/Adventure,3-6 times a week,Mobile Devices
997,Justine Kuhn,51,female,80000,Racing,Daily,Mobile Devices
998,Oran Stoltenberg,30,male,50000,Sports/Simulation,3-6 times a week,PC (Personal Computer)
999,Clarissa Wiegand,17,female,100000,Action/Adventure,3-6 times a week,PC (Personal Computer)

In [14]:
df["name"] = df["name"].astype("string")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                1000 non-null   string
 1   age                 1000 non-null   int64
 2   gender              1000 non-null   object
 3   salary              1000 non-null   int64
 4   favorite_genre      1000 non-null   object
 5   play_frequency      1000 non-null   object
 6   preferred_platform  1000 non-null   object
dtypes: int64(2), object(4), string(1)
memory usage: 54.8+ KB

In [17]:
df["favorite_genre"] = df["favorite_genre"].astype("category")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                1000 non-null   string
 1   age                 1000 non-null   int64
 2   gender              1000 non-null   object
 3   salary              1000 non-null   int64
 4   favorite_genre      1000 non-null   category
 5   play_frequency      1000 non-null   object
 6   preferred_platform  1000 non-null   object
dtypes: category(1), int64(2), object(3), string(1)
memory usage: 48.3+ KB

In [19]:
df["play_frequency"] = df["play_frequency"].astype("category")

In [20]:
df["preferred_platform"] = df["preferred_platform"].astype("category")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                1000 non-null   string
 1   age                 1000 non-null   int64
 2   gender              1000 non-null   object
 3   salary              1000 non-null   int64
 4   favorite_genre      1000 non-null   category
 5   play_frequency      1000 non-null   category
 6   preferred_platform  1000 non-null   category
dtypes: category(3), int64(2), object(1), string(1)
memory usage: 35.1+ KB